
header {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

#search-bar {
  text-align: center
}

.warningzone {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}