
body {
  background-color: rgb(33, 11, 69);
  font-family: 'Sarabun', sans-serif;
}

header {
  margin: 0;
  text-align: center;
}

.title {
  margin: 20px 0px 0px 0px;
  display: inline-flex;
  vertical-align: top;
}

#title {
  line-height: 90%;
  margin: 0px 0px 0px 0px;
  font-family: 'Fugaz One', cursive;
  font-size: 80px;
  font-stretch: extra-expanded;
  background-clip: text;
  background: -webkit-linear-gradient(orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  /* gradient from here https://cssgradient.io/blog/css-gradient-text/ */
}

#subtitle {
  font-size: 18px;
  font-family: 'Sarabun', sans-serif;
  margin: 0px 0px 10px 0px;
  color: orange;
  background-clip: text;
  background: -webkit-linear-gradient(orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  /* gradient from here https://cssgradient.io/blog/css-gradient-text/ */
  /* margin: 0px, 10px; */
}

#search-bar {
  text-align: center;
}

input {
  width: 95px;
}

#search-section {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}

#dish {
  padding: 0px 0px 0px 10px;
  animation: dishscan 1s infinite;
  animation-play-state: paused;
  animation-direction: alternate;
}

/* #dish.animate {
  padding: 0px 0px 0px 10px;
  animation: dishscan 1s infinite;
  animation-direction: alternate
} */

@keyframes dishscan {
  from {transform: scaleX(1);}
  to {transform: scaleX(-1);}
}

.warning {
  text-align: center;
  color: orange;
  font-weight: extra-bold;
}

.warningzone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start; 
  flex-flow: wrap; 
  flex-wrap: row wrap;
}

.pho {
  margin: 15px;
  padding: 10px;
  background-color: red;
  color:orange;
  border-radius: 10px;
  outline: 5px solid orange;
  animation: mymove 2s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes mymove {
  from {box-shadow: 0px 0px 30px 30px (255, 0, 0, 0.1);}
  to {box-shadow: 0px 0px 30px 30px rgba(233, 86, 211, 0.954);}
}

.pho-alert {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.pho-size {
  margin-bottom: 0;
}

.safezone {
  display: flex;
  justify-content: center;
  align-content: flex-start; 
  flex-flow: wrap; 
  flex-wrap: row wrap;
}

.nonPho {
  margin: 15px;
  padding: 10px;
  background-color: rgba(233, 86, 211, 0.954);
  color: rgb(33, 11, 69);
  border-radius: 10px;
  /*outline: 5px solid rgb(75, 182, 90); */
}

.safezone {
  margin: 20px;
  text-align: center;
  color: orange;
}

.safe-count {
  margin: 0;
}

@media (max-width: 400px){
  html,
  .warningzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start; 
    flex-flow: wrap; 
  }
}

@media (max-width: 400px){
  #warning {
    font-size: 15px;
  }
}

